.App {
  text-align: center;
}

.navBar {
  background-color: rgb(26, 25, 25);
}

#root {
  background-color: rgba(26, 25, 25, 0.577);
}

.container {
  display: flex;
  flex-flow: row;
}

.friends {
  display: flex;
  flex-direction: row;
}

.onlineCard {
  max-height: 300px;
}

.audioCard {
  max-height: 300px;
}

#volumeCard {
  max-height: 300px;
}

.pic {
  background-image: url(./images/Screen\ Shot\ 2020-08-30\ at\ 11.11.41\ PM.png);
  background-position: center;
  background-repeat: no-repeat;
}

.fields {
  text-align: center;
}

.username {
  color: white;
  margin-top: 10px;
}

.password {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login {
  background-color: transparent;
  margin-right: 125px;
  text-decoration-line: underline;
  text-decoration-color: white;
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
