.App {
  text-align: center;
}

.navBar {
  background-color: rgb(26, 25, 25);
}

/* #root {
  background-color: rgb(26, 25, 25);
} */

.fields {
  text-align: center;
}

.username {
  color: white;
  margin-top: 10px;
}

.password {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login {
  background-color: transparent;
  margin-right: 125px;
  text-decoration-line: underline;
  text-decoration-color: white;
  /* background-color: blue;
  margin-left: 875px;
  margin-right: 875px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
